/* font-family: 'Anton', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Silkscreen', sans-serif; */

/* define colors and fonts for consistency */
:root {
    --my_white: #FBFBFB;
    --my_black: #202124;
    --div_background_grey: rgba(255, 255, 255, 0.7);
    --FB_outline: var(--my_white);
    --anton: 'Anton', sans-serif;
    --oswald: 'Oswald', sans-serif;
}

* {
    margin: 0;
}
/* style of section headers */
h2 {
    font-family: var(--anton);
    font-size: 4em;
    margin-top: 1em;
}

p {
    font-family: var(--oswald);
}

/* the whole page is a flexbox */
body {
    background-color: var(--my_black);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header1 {
    z-index: 20;
    background-color: var(--my_white);
    min-height: 3.5em;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.header_btn {
    font-family: var(--anton);
    font-size: 1em;
    min-height: 100%;
    width: 10em;
    margin: 0;
    padding: 0;
    border: none;
    background-color: var(--my_white);
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_btn:hover {
    background-color: #ccc;
    transition: 0.3s;
}

.footer1 {
    background-color: var(--my_white);
    min-height: 8em;
    width: 100vw;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    font-family: var(--oswald)
}

.footer1 div {
    text-align: end;
    margin: 1em;
    margin-right: 2em;
}

/* MAIN PAGE */

/* section with the logo and a short text */
.main1 {
    min-height: 100vh;
}

.header_logo_img {
    width: 20%;
    padding: 1%;
}

.big_text_logo {
    margin-left: .4em;
    font-size: 9em;
    color: var(--my_white);
    line-height: 1em;
    display: inline-block;
}

.big_text_logo p {
    font-family: var(--anton);
}

/* text-shadow used as an outline to give the text some personality */
.outline_text {
    position: relative;
    color: var(--my_black);
    transform: scale(1, 1.4);
    top: 1em;
    text-shadow: 2px 2px 0 var(--FB_outline), 2px -2px 0 var(--FB_outline), -2px 2px 0 var(--FB_outline), -2px -2px 0 var(--FB_outline);
}

.main_text {
    position: relative;
    top: -1.2em;
    line-height: 1.4em;
    z-index: 10;
}

.short_info_idk {
    color: var(--my_white);
    font-family: var(--oswald);
    position: relative;
    top: -10em;
    width: 20em;
    margin-left: 3em;
    font-size: 1em;
}

#main_page {
    background-image: url(images/pink_bar.png);
    background-attachment: fixed;
    background-size: cover;
}

/* section with a short discription of the concept of friday bars */
.main2 {
    min-height: 90vh;
    background-color: var(--div_background_grey);
    color: var(--my_black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main2 p {
    font-family: var(--oswald);
    font-size: 1.5em;
    padding: 2em;
}

/* section with a display of different bars */
.main3 {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    color: var(--my_white);
    align-items: center;
}

.bars_accordeon {
    display: flex;
}

.bar_in_accordeon {
    width: 20em;
    height: 20em;
    margin: 2em;
    background-image: url("images/test_photo.png");
}


/* FAQ section */
.main4 {
    background-color: var(--div_background_grey);
    /* max-height: fit-content; */
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--my_black);
    font-family: var(--oswald);
}

.accordion {
    font-family: var(--oswald);
    margin: 1em;
    background-color: var(--my_white);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 1em;
    display: none;
    background-color: var(--my_white);
    overflow: hidden;
}

/* map section */
.main5 {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    color: var(--my_white);
    align-items: center;
}

.main5 img {
    position: relative;
    width: 70%;
    margin-bottom: 5em;
}

/* Katrinas Kaelder */
#KK_main {
    background-image: url("images/test_photo3.png");
    background-size: cover;
    background-attachment: fixed;
}

.bar_main {
    display: flex;
    align-items: center;
    color: var(--my_white);
    font-family: var(--oswald);
}

.menu_items {
    width: 80%;
    margin: 20px auto;
    font-family: var(--oswald);
    font-weight: bold;
    /* border-collapse: collapse; */

    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.opening_hours {
    color: var(--my_white);
}

th,
td {
    padding: 20px;
    /* Increase the spacing */
    text-align: left;
    border-bottom: 1px solid var(--my_white);
}

/* Kurt Strandbar */

#KS_main {
    background-image: url("images/KS_kula.png");
    background-size: cover;
    background-attachment: fixed;
}

#PR_main {
    background-image: url("images/PR_bilard.png");
    background-size: cover;
    background-attachment: fixed;
}